* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(../images/ocean-3605547__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.resister-add {
  width: 300px;
  height: 500px;
  padding: 30px;
  outline: 3px solid white;
  background: #04122c;
}
h2 {
  color: red;
  /* text-align: center; */
}
.input-style {
  margin-top: 10px;
}
.input-style input {
  color: darkcyan;
  width: 90%;
  background: transparent;
  padding: 5px;
  /* border: 3px solid hotpink; */
  margin-bottom: 5px;
  border-radius: 3px;
}
.input-style label {
  color: green;
  /* margin-bottom: 15px; */
  /* display: block; */
  cursor: pointer;
}
.option {
  margin-top: 6px;
  color: white;
}
.option label {
  color: wheat;
  cursor: pointer;
}
p {
  color: red;
}

.register-page input {
  width: 60%;
  color: red;
  padding: 10px;
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
  background-color: gray;
  border-radius: 15px;
}
.register-page input:hover {
  background-color: #04122c;
}
