body {
  background-color: floralwhite;
}
.heading {
  width: 50%;
}

h1 {
  text-align: center;
  color: green;
  border: 2px solid black;
}
table {
  border: 2px solid blue;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: silver;
  color: darkmagenta;
  font-size: 16px;
}
tr {
  border: 1px solid black;
  height: 30px;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
.row-1 th {
  text-transform: uppercase;
  background-color: yellow;
}
.row-1 th:hover {
  background-color: blue;
}
